.ll {border: 8px solid rgb(255, 0, 0);
background-color: darkolivegreen;
text-align: center;
color: whitesmoke;
border-radius: 30px;

}
.hh{color: white;
text-align: center;
font-size: 30px;
}
.kk{border: 8px solid rgb(255, 0, 0);
    background-color: darkolivegreen;
    text-align: center;
    color: whitesmoke;
    border-radius: 30px;}

.ii{color: white;
    text-align: center;
        font-size: 30px;
}








